.footer {
    text-align: center;
    padding: 2rem;
    background-color: #ffffff;
    color: #52525b;
    border-top: 1px solid #e5e5e5;
    margin-top: auto;
}

.text {
    font-size: 0.9rem;
    font-weight: 500;
}